.header {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 40px;
}

.logo {
   background-color: rgb(0, 0, 0);
   text-align: center;
   padding: 10px;
   width: 150px;
   height: 100px;
   border: 1px solid rgb(156, 27, 27);
}

.logo__name,
.logo__surname {
   font-size: 26px;
   font-weight: 700;
   line-height: 130%;
   color: rgb(255, 255, 255);
}

.logo__name {
   border-bottom: 1px solid rgb(255, 255, 255);
}

.list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.list li {
   text-align: center;
   border: 1px solid  aqua;
   background-color: aqua;
   border-radius: 4px;
   font-size: 18px;
   padding: 5px;
}

.first {
   color: red;
   font-weight: 900;
}





/* ADAPTIV */

@media(max-width:576px) {
   .header {
      flex-direction: column;
      align-items: flex-start;
   }
   .logo{
      margin-bottom: 20px;
   }
}