.footer {
   display: flex;
   flex-direction: column;
   justify-content: end;
   background-color: #252424;
   text-align: center;
   }

.footer__text {
   font-size: 26px;
   font-weight: 700;
   color: rgb(255, 255, 255);
}